body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 2rem;
  padding: 15px;
  background-color: #eee;
}

main {
  max-width: 750px;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  margin: 0 auto;
}

h2 {
  color: #5f3dc4;
}
