body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 2rem;
}

table {
  border-collapse: collapse;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 700px;
}

th,
td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.layoutTable,
.layoutTable th,
.layoutTable tr,
.layoutTable td {
  border: none;
}

.fake-list p::before {
  content: "- ";
}

.example-section {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

#csstext::before {
  content: 'This text is mostly added ';
}

#csstext::after {
  content: ' CSS pseudo elements';
}
